
/* Aestethic section */
.aestethic-container {
    @include flexCenter(column);
    
    
     .aestethic__item1 {
         color: $text-color;
         margin-top: 2rem;
         height: 3rem;
         background: trinity(aestethic1);
     }
    .aestethic__item2 {
        @extend .aestethic__item1;
        background: trinity(aestethic2); 
    } 
    .aestethic__item3 {
        @extend .aestethic__item1;
        background: trinity(aestethic3);
    
    }
     
    } 