/*Variables*/
$background-color: #fff;
$background-color-dark: #474747;
$text-color: #fff;
$nav-background: rgb(140, 207, 140); 
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold":700
);
$mobile: 800px;