
/*Variables*/
$primary-color:#0b7a7e;
$background-color-dark: #474747;
$text-color: #fff;
$nav-background: rgb(207, 40, 82); 
$color-trinity: (
    "aestethic1": rgb(238, 132, 132),
    "aestethic2": rgb(172, 200, 172),
    "aestethic3": rgb(248, 207, 214)
);

/*Color Variables*/
$colors: (
    "background-color": #fff,
    "background-color-dark": #474747,
    "text-color": #fff,
    "nav-background": rgb(140, 207, 140)
);

/* Font Variables */
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold":700
);
$mobile: 768px;

