@import './resets';
@import './variables';
@import './aestehic'

@function weight($weight-name) {   /* esto es para no usar el map-get a cada rato */
    @return map-get($font-weights, $weight-name);  /* las funciones nos permiten computar y regresar valores */
}
/* Aestethic section */
@function trinity($color-name) {
    @return map-get($color-trinity, $color-name);
}

@mixin flexCenter ($direction) { /* un mixin se incluye con un "@include" t el nombre del mixin */
    display: flex;   /* los mixin y las funciones se hacen cuando vas a reusar código */
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin theme ($light-theme: true){
    @if $light-theme  {
        background: lighten($primary-color, 100%);
        color: darken($text-color, 100%);
    }
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content; 
    }
}

body{
    background: $primary-color;
    color: $text-color;
    margin-top: 2rem;
}

.main {
    @include flexCenter (row);
    width: 80%;
    margin: 0 auto;
    #{&}__paragraph1 { /*intrapolación, para que le dé a todos los que están dentro*/
        font-weight:weight(regular); /* se usó la función weight */
        &:hover {
            color: pink;
        }
    }

    #{&}__paragraph2 {
        @extend .main__paragraph1;
        &:hover {
            color:darkseagreen;
        }
    }

    @include mobile {
        flex-direction: column;
    }
}

.light {
    @include  theme ($light-theme: false);
}

